@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
@layer components {
    .color-principal{
        @apply bg-indigo-700;
    }
    .item-nav{
        @apply text-white font-semibold ;
    }
    .btn{
        @apply font-bold py-2 px-4 rounded;
    } 
    .btn-success{
        @apply bg-green-600 text-white hover:bg-green-700;
    }
    .input_file{
        @apply block w-full text-sm text-slate-500 
        file:mr-4 file:py-2 file:px-4
        file:rounded-full file:border-0
        file:text-sm file:font-semibold
        file:bg-violet-50 file:text-violet-700
        hover:file:bg-violet-100
      }
}